#  $Id: config.h.in.example,v 1.2 2001/05/31 21:32:23 marvin Exp $
#
section "CPU Choosing"
choice "Cpu type" x86|alpha|sparc CPU_TYPE "Choose cpu type"
if CPU_TYPE = x86
  choice Processor 386|486|Pentium|PentiumPro|PentiumII|PentiumIII|K6|K6-2|K6-3 PROCESSOR "Select you processor"
elif CPU_TYPE = alpha
  choice Processor type1|type2|type3 PROCESSOR "Select your processor"
elif CPU_TYPE = sparc
  choice Processor Type1|Type2|Type3 PROCESSOR "Select your processor"
fi
